.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/train/Inertial_Signals/total_acc_z_train.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/train/Inertial_Signals/total_acc_y_train.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/train/Inertial_Signals/total_acc_x_train.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/train/Inertial_Signals/body_gyro_z_train.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/train/Inertial_Signals/body_gyro_y_train.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/train/Inertial_Signals/body_gyro_x_train.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/train/Inertial_Signals/body_acc_z_train.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/train/Inertial_Signals/body_acc_y_train.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/train/Inertial_Signals/body_acc_x_train.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/train/y_train.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/train/X_train.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/train/X_train_small.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/train/subject_train.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/test/Inertial_Signals/total_acc_z_test.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/test/Inertial_Signals/total_acc_y_test.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/test/Inertial_Signals/total_acc_x_test.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/test/Inertial_Signals/body_gyro_z_test.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/test/Inertial_Signals/body_gyro_y_test.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/test/Inertial_Signals/body_gyro_x_test.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/test/Inertial_Signals/body_acc_z_test.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/test/Inertial_Signals/body_acc_y_test.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/test/Inertial_Signals/body_acc_x_test.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/test/y_test.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/test/X_test.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/test/subject_test.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/README.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/features.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/features_info.txt
data_cleaning/data_cleaning_final_project/data/UCI_HAR_Dataset/activity_labels.txt
